  <div class="jumbotron">
    <div class="container">
      <h1>IBM Technical Workshop</h1>
      <p>
        Obrigado pelo interesse em participar!<br>
        Em breve você receberá um e-mail de confirmação com as informações de data e local.
      </p>
      <p><button type="button" class="btn btn-lg btn-primary" ng-click="openLoad()">Clique aqui para fazer uma nova inscrição</button></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Objetivo</h2>
        <p>
          Os participantes deste workshop aprenderão como conectar aplicações
          <i>born-on-the-cloud</i> a sistemas <i>on-premises</i> através dos
          recursos de cloud híbrida do IBM Bluemix e outros produtos de
          integração, como o IBM Integration Bus e IBM MQ.
        </p>
        <p><a class="btn btn-default" href="http://www.redbooks.ibm.com/redbooks.nsf/pages/hybridcloud?Open" target="_blank" role="button">Mais informações &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Conteúdo</h2>
        <p>Neste evento serão abordados temas como:
         Clouds híbridas, Bluemix, API Connect, Secure Gateway,
         API Connect, IBM DataWorks, IBM Message Hub, IBM z/OS Connect,
         IBM DataPower Gateway, IBM Cast Iron, Docker,
         IBM Integration Bus e IBM MQ.
        </p>
        <p><a class="btn btn-default" href="http://www.redbooks.ibm.com/redbooks.nsf/pages/hybridcloud?Open" target="_blank" role="button">Mais informações &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Data e Local</h2>
        <p>10 e 11 de Novembro de 2016
           <br>Hora: 09h as 18h
           <br>Local: IBM
           <br>Avenida Pasteur, 138
           <br>Botafogo, Rio de Janeiro.
        </p>
      </div>
    </div>
