<div class="jumbotron">
  <div class="container">
    <h1>[SEU_CONTEÚDO]</h1>
    <h2>Technical Workshop</h2>
    <p><button type="button" class="btn btn-lg btn-primary" ng-click="openLoad()">Clique aqui para se Inscrever</button></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Objetivo</h2>
      <p>
        Você está convidado para uma capacitação Técnica de [SEU_CONTEÚDO].
        Será [SEU_CONTEÚDO] dia de capacitação e Hands-on para acelerar seu conhecimento na [SEU_CONTEÚDO].
      </p>
      <p>
        <b>PÚBLICO: [SEU_CONTEÚDO].</b>
      </p>
      <p>
        <b>VAGAS LIMITADAS: Aguarde a notificação por e-mail para confirmar sua inscrição.</b>
      </p>
    </div>
    <div class="col-md-4">
      <h2>Conteúdo</h2>
      <p>Neste evento serão abordados temas como:
       [SEU_CONTEÚDO];<br>
       [SEU_CONTEÚDO];<br>
       [SEU_CONTEÚDO];<br>
       [SEU_CONTEÚDO].
      </p>
      <!-- <p><a class="btn btn-default" href="http://www.redbooks.ibm.com/redbooks.nsf/pages/hybridcloud?Open" target="_blank" role="button">Mais informações &raquo;</a></p> -->
   </div>
    <div class="col-md-4">
      <h2>Data e Local</h2>
      <p>[SEU_CONTEÚDO] de [SEU_CONTEÚDO] de [SEU_CONTEÚDO]
         <br>Hora: 09h as 18h
         <br>Local: [SEU_CONTEÚDO]
         <br>Avenida [SEU_CONTEÚDO], [SEU_CONTEÚDO]
         <br>[SEU_CONTEÚDO], Rio de Janeiro.
      </p>
    </div>
  </div>
